In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import urllib
from urllib import parse
import time
import openpyxl
import requests

from selenium.common.exceptions import NoSuchElementException
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import random, time
from IPython.display import display

In [12]:
def get_age(classname):
    product_reviews=[]
    reviews=driver.find_elements_by_class_name(classname)[::]
    for element in reviews:
        product_reviews.append(element.text)
    try:
        result=product_reviews[0].split('|')
    except IndexError:
        result='IndexError'
    return result

In [3]:
def NextPage():
    try:
        driver.find_element_by_xpath('//*[@id="main"]/div/div[2]/table/tbody/tr[1]/td[2]/a').click()
    except NoSuchElementException:
        pass

In [4]:
import numpy as np
import pandas as pd

data =pd.read_csv('D:/python/Netflix/netflix_originals_합본_2.csv',encoding='ANSI')
title=data.Title.values.tolist()
print(title[:5])

['House of Cards', 'Hemlock Grove', 'Orange Is the New Black', 'Marco Polo', 'Bloodline']

In [5]:
title_path = []
for i in title:
    split_title = i.split()
    sum_title = "+".join(split_title)
    title_path.append(sum_title)
title_path[:5]

['House+of+Cards',
 'Hemlock+Grove',
 'Orange+Is+the+New+Black',
 'Marco+Polo',
 'Bloodline']

In [6]:
title_path[:5]

['House+of+Cards',
 'Hemlock+Grove',
 'Orange+Is+the+New+Black',
 'Marco+Polo',
 'Bloodline']

In [7]:
url_list=[]
for i in title_path:
    url="https://www.imdb.com/find?q="+str(i)+ "&ref_=nv_sr_sm"
    url_list.append(url)

In [8]:
url_list[:5]

['https://www.imdb.com/find?q=House+of+Cards&ref_=nv_sr_sm',
 'https://www.imdb.com/find?q=Hemlock+Grove&ref_=nv_sr_sm',
 'https://www.imdb.com/find?q=Orange+Is+the+New+Black&ref_=nv_sr_sm',
 'https://www.imdb.com/find?q=Marco+Polo&ref_=nv_sr_sm',
 'https://www.imdb.com/find?q=Bloodline&ref_=nv_sr_sm']

In [9]:
options = webdriver.ChromeOptions()
options.headless = True # webdriver.ChromeOptions.headless = True (크롬 백그라운드)
options.add_argument('window-size=1920x1080')

driver = webdriver.Chrome(r'C:\Users\seonwoo\Anaconda\chromedriver.exe', options=options)
url_list[::]
get_age('subtext')

'IndexError'

In [24]:
page = url_list[100:200]    #값 바꿀것
new_data = []

for i in page:
    driver.implicitly_wait(1)
    driver.get(i)
    driver.implicitly_wait(1)
    NextPage()
    driver.implicitly_wait(2)
    datalist = get_age('subtext')
    new_data.append(datalist)
    #driver.get_screenshot_as_file(str(j) + '_screen.png')
    #j += 1
new_data[:5]

[['18 ', ' 48min ', ' Documentary, Biography, Drama ', ' TV Series (2016– )'],
 ['15 ', ' 46min ', ' Documentary, Crime ', ' TV Series (2017– )'],
 ['18 ', ' 1h ', ' Documentary, Biography ', ' TV Series (2017)'],
 ['37min ', ' Documentary, Reality-TV ', ' TV Series (2017)'],
 ['Documentary ', ' TV Mini-Series (2017)']]

In [25]:
new_data[0]

['18 ', ' 48min ', ' Documentary, Biography, Drama ', ' TV Series (2016– )']

In [26]:
page = url_list[100:200]  
information = [new_data[i] for i in range(len(page))]
my_dict = {"information": information}
total_data = pd.DataFrame(my_dict)
total_data

                                          information
0   [18 ,  48min ,  Documentary, Biography, Drama ...
1   [15 ,  46min ,  Documentary, Crime ,  TV Serie...
2   [18 ,  1h ,  Documentary, Biography ,  TV Seri...
3   [37min ,  Documentary, Reality-TV ,  TV Series...
4              [Documentary ,  TV Mini-Series (2017)]
..                                                ...
95  [18 ,  1h 5min ,  Comedy, Drama ,  14 February...
96  [18 ,  1h 33min ,  Comedy, Crime, Drama ,  24 ...
97   [18 ,  1h 36min ,  Drama ,  10 March 2017 (USA)]
98                                         IndexError
99  [15 ,  1h 31min ,  Biography, Drama, History ,...

[100 rows x 1 columns]

In [27]:
total_data

                                          information
0   [18 ,  48min ,  Documentary, Biography, Drama ...
1   [15 ,  46min ,  Documentary, Crime ,  TV Serie...
2   [18 ,  1h ,  Documentary, Biography ,  TV Seri...
3   [37min ,  Documentary, Reality-TV ,  TV Series...
4              [Documentary ,  TV Mini-Series (2017)]
..                                                ...
95  [18 ,  1h 5min ,  Comedy, Drama ,  14 February...
96  [18 ,  1h 33min ,  Comedy, Crime, Drama ,  24 ...
97   [18 ,  1h 36min ,  Drama ,  10 March 2017 (USA)]
98                                         IndexError
99  [15 ,  1h 31min ,  Biography, Drama, History ,...

[100 rows x 1 columns]

In [28]:
excel_name='netflix_origlnal_information 200번까지.xlsx'

In [29]:
total_data.to_excel(excel_name,encoding='utf-8')